#popupWindow {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    height: 120px;
    background-color: #fff;
    border: solid rgb(150, 149, 149) 1px;
    border-radius: 10px;
    padding: 10px;
    color: black;
    display: none;
    animation: window 1.0s;
    cursor: pointer;
    z-index: 999;
}

#closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
}

@keyframes window {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}